# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data and model artifacts
*.parquet
*.csv
*.pkl
*.joblib
*.model
*.jsonl


# OS and IDE
.DS_Store
.vscode/
.idea/
